body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin-top: 10%;
  padding-right: 0;
  padding-left: 0;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.logo {
  width: 110px;
  margin-top: 3px;
  margin-left: 20px;
}

.home {
  text-align: center;
  margin-top: 100px;
}

.big-center-logo {
  width: 40%;
  margin: auto;
}

.subtitle {
  margin-top: 25px;
  color: #636161;
}

p {
  text-align: center;
}

#add-place {
  width: 40%;
  margin: auto;
  margin-top: 40px;
}

.footer-links {
  padding-top: 15px;
  text-align: center;
  a {
    color: lightgray;
  }
}
