<div id="add-place">
  <h3>Add a Place</h3>
    <p><input type="text" name="cover" ng-model="newPlace.cover" placeholder="photo URL" class="form-control" value=""></p>
    <p><input type="text" name="title" ng-model="newPlace.title" placeholder="name of place" class="form-control" value=""></p>
    <p><input type="text" ng-model="newPlace.description" name="description" placeholder="description" class="form-control" value=""></p>
    <p><button type="button" ng-click="addPlace(newPlace)" name="button" class="btn btn-success">Add a Place</button></p>
</div>
